/* .App {
  text-align: center;
} */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(73, 79, 82);
  color: white;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  list-style: none;
}
.header{
  margin-top: 8%;
  display: flex;
  justify-content: center;
}
.form-control{
  margin: 10px;
}
.labelstorypoints{
  display: block;
  font: 1rem 'Fira Sans',sans-serif;
}
.labelstorypoints,.inputstorypoints{
  margin: .2rem 0;
}
.form-group{
  margin: 8px;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.card-container{
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #A5A5A5;
}

.card-wrapper{
  width: 270px; 
  height: 180px; 
  box-shadow: 0px 3px 50px #A5A5A5;
  display: flex;
  margin: 1rem;
  background-color: blanchedalmond;
  border: 1px solid;
  border-radius: 30px;
  /* justify-content:space-evenly ; */
   transition: 0.2s;

}
.card-wrapper:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
  cursor: pointer;
}

/* .card-top{
  width: 100%;
  height: 2%;
} */

.task-holder{
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  display : flex;
  flex-direction: column;
  position: relative;
  /* margin: auto; */
}


.card-header{
  margin-top: 10px;
  margin-bottom: 10px;
  /* max-width: aut; */
  width: auto;
  height: auto;
  padding: 1px 1px !important;
  text-align: center;
  border: 1px solid;
}

.task-container{
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F6F7F8;
  padding : 50px 100px;
}
.delete-task-container{
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F6F7F8;
  padding : 50px 100px;
}
.far{
margin-right: 1rem;
}
.button{
  margin: 2rem;
}
.container {
  width: 95%;
  height: 10px;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 25%;
  height:fit-content;
  padding: 15px;
  background-color: grey;
  border-radius: 1%;
}
.todos__heading {
  font-size: 30px;
  text-align: center;
  color: white;
}
@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .container {
    width: 95%;
    flex-direction: column;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
}

.dragactive {
  background-color: rgb(247, 248, 248);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
}

.drag {
  box-shadow: 0 0 20px black;
}